<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/style.css">
    <title>karma</title>
</head>

<body>
    <header class="p-2 mb-2">
        <h2>Karma</h2>
    </header>
    <main>
        <div class="container mt-4 p-4">
            <div class="row">
                <div class="col-sm">
                    <h4 style="color: coral;">
                        Karma
                    </h4>
                    <div class="card karma">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>                
                </div>

                <div class="col-sm">
                    <h4 style="color: greenyellow;">
                        Doing
                    </h4>
                    <div class="card doing">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>   
                </div>

                <div class="col-sm">
                    <h4 style="color: green;"> 
                        Done
                    </h4>
                    <div class="card done">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>   
                    
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>