<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap.css">
    <!-- <link rel="stylesheet" href="static/style.css"> -->
    <title>karma</title>
</head>

<body>
    <header class="p-2 mb-2">
        <h2>Digital Diary</h2>
    </header>
    <nav class="p-2" style="color: #fff;">
        <span>#Python</span>
        <span>#SQL</span>
        <span>#Flask</span>
        <button class="btn btn-primary px-2 py-1">+</button>
    </nav>
    <main>
        <div style="text-align: center;">
            <img src="static/karma.jpg" alt="" height="500px" width="500px">
        </div>
        
        <div class="container mt-4 p-4">
            <div class="row">
                <div class="col-sm">
                    <h4>
                        Karma
                    </h4>
                    <div class="card karma">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>                
                </div>

                <div class="col-sm">
                    <h4>
                        Working
                    </h4>
                    <div class="card doing">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>   
                </div>

                <div class="col-sm">
                    <h4> 
                        Done
                    </h4>
                    <div class="card done">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>   
                    
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>